<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#3273DC">
	<meta name="author" content="Cesar Ferreira">
	<meta name="description" content="Senior Android Engineer">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Cesar Ferreira">
	<meta property="og:url" content="https://cesarferreira.com/">
	<meta property="og:description" content="Senior Android Engineer">
	<meta property="og:image" content="/public/assets/images/photo.jpg">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@cesarmcferreira">
	<meta name="twitter:creator" content="@cesarmcferreira">
	<link rel="icon" href="/public/assets/images/photo.jpg" sizes="32x32">
	<title>Cesar Ferreira</title>
	<link rel="stylesheet" href="/public/css/main.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/public/js/AnchorScroller.js"></script>

	<script>
		window.ga = window.ga || function () {
			(ga.q = ga.q || []).push(arguments)
		};
		ga.l = +new Date;
    ga('create', 'UA-18248446-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script defer src="https://www.google-analytics.com/analytics.js"></script>
</head>
<body>
	<div id="init">
	<section class="hero" id="stickybar">
		<div class="hero-head">
			<div class="container">
				<nav class="nav has-shadow">
					<div class="container">
						<div class="nav-left">
							<a class="nav-item" href="/#init">Top</a>
						</div>
						<span class="nav-toggle">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<div class="nav-right nav-menu">
							<a class="nav-item is-tab" href="/#tools">Tools</a>
							<a class="nav-item is-tab" href="/#blog">Blog posts</a>
							<a class="nav-item is-tab" href="/#libraries">Libraries</a>
							<a class="nav-item is-tab" href="/#misc">Misc</a>
							<a class="nav-item is-tab" href="https://medium.com/@cesarmcferreira/about-me-a56da6d0028b">About</a>
							<span class="nav-item">
								<a class="button" href="/#contacts">Contact</a>
							</span>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</section>
	<section class="hero is-fullheight is-default">
		<div class="hero-body">
			<div id="info-container" class="container has-text-centered">
				<div class="columns is-vcentered">
					<div class="column is-two-thirds is-centered has-nice-link" itemscope itemtype="http://schema.org/Person">
						<img id="profile-pic" src="/public/assets/images/photo.jpg" width="160" height="160" itemprop="image">
						<h1 class="title is-2" itemprop="name">Cesar Ferreira</h1>
						<h2 class="subtitle is-4" itemprop="description">Senior Android Engineer</h2>
						<p>Currently Lead Android Engineer <a href="https://www.gluehome.com/">@GlueHome</a> (previously <a href="https://www.sky.com/">@SkyUK</a>) in <a href="https://www.google.co.uk/maps/place/London/">#london</a>.
							<!-- ❤️ H.E. --> 
							<br class="is-hidden-small-screen">My favorite <!-- H.E. --> things right now are  <strong>Android</strong>, <strong>Flutter</strong> and <strong>Node.js</strong>.
						</p>
						<br>
						<p class="has-text-centered">
							<!-- GITHUB -->
							<a class="button is-large is-white" href="https://github.com/cesarferreira" title="github">
								<span class="icon">
									<i class="fa fa-github"></i>
								</span>
							</a>
							<!-- MEDIUM -->
							<a class="button is-large is-white" href="https://medium.com/@cesarmcferreira/" title="medium">
								<span class="icon">
									<i class="fa fa-medium"></i>
								</span>
							</a>
							<!-- TWITTER -->
							<a class="button is-large is-white" href="https://twitter.com/cesarmcferreira" title="twitter">
								<span class="icon">
									<i class="fa fa-twitter"></i>
								</span>
							</a>
							<!-- EMAIL -->
							<a class="button is-large is-white" href="mailto:cesar.manuel.ferreira@gmail.com" title="email">
								<span class="icon">
									<i class="fa fa-envelope"></i>
								</span>
							</a>
							<!-- RUBYGEMS -->
							<a class="button is-large is-white" href="https://rubygems.org/profiles/cesarferreira" title="rubygems">
								<span class="icon">
									<i class="fa fa-diamond"></i>
								</span>
							</a>
							<!-- LINKEDIN -->
							<a class="button is-large is-white" href="http://linkedin.com/in/cesarferreira" title="linkedin">
								<span class="icon">
									<i class="fa fa-linkedin"></i>
								</span>
							</a>
							<!-- NPM -->
							<!-- <a class="button is-large is-white" href="https://www.npmjs.com/~cesarferreira" title="npm">
								<span class="icon">
									<i class="fa fa-certificate"></i>
								</span>
							</a> -->
						</p>
						<hr id="latest-blog-post-separator">
					</div>
				</div>
			</div>
		</div>
		<div class="hero-foot">
			<div class="container">
				<div class="tabs is-centered">
					<ul>
						<li>
							<i id="scroll-hint" class="fa fa-caret-down" aria-hidden="true"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	{{#each categories as |category|}}
		<section class="hero is-fullheight {{ category.style }}">
			<div id="{{category.id}}" class="hero-body container">
				<div class="columns is-vcentered">
					<div id="latest-repos-container" class="column is-offset-1 has-nice-link">
						<h2 class="title is-2">{{category.title}}</h2>

						<div id="latest-repos" class="columns is-multiline">
							
							{{#each category.items as |item|}}
								<div class="column is-half">
									<h4 class="title is-4">
										<a class="latest-repos-title" href="{{item.url}}">{{item.title}}</a>
										{{#each item.tags as |tag|}}
											<span class="tag is-small latest-repos-language {{tag}}">{{tag}}</span>
										{{/each}}
									</h4>
									<p class="latest-repos-description">{{{item.description}}}</p>
								</div>
							{{/each}}

						</div>
					</div>
				</div>
			</div>
		</section>
	{{/each}}

	</div>
</body>

</html>